.special-sec1 img {
    height: 70px;
    width: auto;
}

.search-form {
    background: #f5f5f5;
    border: none;
    width: 81%;
    outline: none;
    padding: 11px 10px 10px 10px;
    font-size: 13px;
    color: #c4c4c4;
    letter-spacing: 1px;
}