<!-- product left -->
<div class="side-bar col-md-3">
  <div class="search-hotel">
    <h3 class="agileits-sear-head">Search Here..</h3>
    <form [formGroup]="searchForm">
      <input type="search" formControlName="search" placeholder="Product name..." name="search" required="">
      <input type="submit" value=" ">
    </form>
  </div>
  <!--preference -->
  <div class="left-side">
    <h3 class="agileits-sear-head">Category</h3>
    <ul>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">Appetizer</span>
      </li>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">Pizza</span>
      </li>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">Drinks</span>
      </li>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">Pasta & Rice</span>
      </li>
    </ul>
  </div>
  <!-- // preference -->
  <!-- discounts -->
  <div class="left-side">
    <h3 class="agileits-sear-head">Discount</h3>
    <ul>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">5% or More</span>
      </li>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">10% or More</span>
      </li>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">20% or More</span>
      </li>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">30% or More</span>
      </li>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">50% or More</span>
      </li>
      <li>
        <input type="checkbox" class="checked">
        <span class="span">60% or More</span>
      </li>
    </ul>
  </div>
  <!-- //discounts -->
  <!-- reviews -->
  <div class="customer-rev left-side">
    <h3 class="agileits-sear-head">Customer Review</h3>
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <span>5.0</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <span>4.0</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <span>3.5</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <span>3.0</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <span>2.5</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- //reviews -->
  <!-- deals -->
  <div class="deal-leftmk left-side">
    <h3 class="agileits-sear-head">Pizza cart</h3>
    <div class="special-sec1">
      <div class="col-xs-4 img-deals">
        <img src="assets/images/3.jpeg" alt="">
      </div>
      <div class="col-xs-8 img-deal1">
        <h3>Caesar</h3>
        <a href="single">$20.00</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="special-sec1">
      <div class="col-xs-4 img-deals">
        <img src="assets/images/greek-salad.jpeg" alt="">
      </div>
      <div class="col-xs-8 img-deal1">
        <h3>Greek Salad</h3>
        <a href="single.html">$19.00</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="special-sec1">
      <div class="col-xs-4 img-deals">
        <img src="assets/images/prosciutto-salad.jpeg" alt="">
      </div>
      <div class="col-xs-8 img-deal1">
        <h3>Prosciutto Salad</h3>
        <a href="single.html">$16.00</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="special-sec1">
      <div class="col-xs-4 img-deals">
        <img src="assets/images/borjomi.jpeg" alt="">
      </div>
      <div class="col-xs-8 img-deal1">
        <h3>Borjomi</h3>
        <a href="single.html">$25.00</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="special-sec1">
      <div class="col-xs-4 img-deals">
        <img src="assets/images/drpeper.jpeg" alt="">
      </div>
      <div class="col-xs-8 img-deal1">
        <h3>Dr Pepper</h3>
        <a href="single.html">$16.00</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- //deals -->

</div>
<!-- //product left -->