<div class="container">
  <app-navbar title="Table List"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Product</h4>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Discount</th>
                  <th>Category</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Dakota Rice</td>
                  <td class="text-primary">$36,738</td>
                  <td>30%</td>
                  <td>Oud-Turnhout</td>
                  <td>
                    <button mat-raised-button color="primary">Edit</button>
                    <button mat-raised-button color="accent">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>Dakota Rice</td>
                  <td class="text-primary">$36,738</td>
                  <td>30%</td>
                  <td>Oud-Turnhout</td>
                  <td>
                    <button mat-raised-button color="primary">Edit</button>
                    <button mat-raised-button color="accent">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>Dakota Rice</td>
                  <td class="text-primary">$36,738</td>
                  <td>30%</td>
                  <td>Oud-Turnhout</td>
                  <td>
                    <button mat-raised-button color="primary">Edit</button>
                    <button mat-raised-button color="accent">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>Dakota Rice</td>
                  <td class="text-primary">$36,738</td>
                  <td>30%</td>
                  <td>Oud-Turnhout</td>
                  <td>
                    <button mat-raised-button color="primary">Edit</button>
                    <button mat-raised-button color="accent">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>Dakota Rice</td>
                  <td class="text-primary">$36,738</td>
                  <td>30%</td>
                  <td>Oud-Turnhout</td>
                  <td>
                    <button mat-raised-button color="primary">Edit</button>
                    <button mat-raised-button color="accent">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>