<div class="container">
  <app-navbar title="Product"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Product</h4>
          <br>
          <a mat-raised-button color="primary" routerLink="create">Create Product</a>
          <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Discount</th>
                  <th>Category</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of products">
                  <td>{{item.name}}</td>
                  <td class="text-primary">{{item.prices[0].price}}</td>
                  <td>{{item.discount}}%</td>
                  <td>{{item.category}}</td>
                  <td>
                    <button mat-raised-button color="primary" [routerLink]="[item.id]
                    ">Edit</button>
                    <button mat-raised-button color="accent" (click)="onDelete(item.id)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>