<div class="container">
  <app-navbar [title]="title"></app-navbar>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="184"
        headerIcon="weekend"
        category="Bookings"
        footContent="Get More Space..."
        footerIcon="warning">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="75.521"
        headerIcon="equalizer"
        category="Views"
        footContent="Google Analytics"
        footerIcon="local_offer">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="$3,245"
        headerIcon="store"
        category="Revenue"
        footContent="Last 24 Hours"
        footerIcon="date_range">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="+245"
        headerIcon="mic"
        category="Followers"
        footContent="Just Updated"
        footerIcon="update">
      </app-figurecard>
    </div>
  </div>



</div>
