<div class="container">
  <app-navbar title="Create Product"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!-- <div class="card-header">
          <i class="material-icons">create</i>
        </div> -->
        <div class="card-content">
          <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
          <form [formGroup]="productForm" class="product-form" (ngSubmit)="productForm.valid&&onSave()">
            <mat-form-field class="form-full-width">
              <input type="text" formControlName="name" matInput placeholder="Name of product">
            </mat-form-field>
            <div class="form-full-width">
              <angular-editor type="text" formControlName="description" placeholder="Description"
                [config]="editorConfig">
              </angular-editor>
            </div>
            <mat-form-field class="form-full-width">
              <input type="number" formControlName="discount" matInput placeholder="Discount of product" min="0">
            </mat-form-field>
            <div class="form-full-width">
              <mat-form-field *ngFor="let item of prices">
                <input type="number" matInput placeholder="{{item.size}}" [name]="item.size" [value]="item.price"
                  (change)="onChange($event)">
              </mat-form-field>
            </div>
            <mat-form-field class="form-full-width">
              <mat-label>Category: </mat-label>
              <mat-select formControlName="category">
                <mat-option value="appetizer">Appetizer</mat-option>
                <mat-option value="pizza">Pizza</mat-option>
                <mat-option value="drinks">Drinks</mat-option>
                <mat-option value="pasta">Pasta & Rice</mat-option>
              </mat-select>
            </mat-form-field>
            <input width="200px" height="200px" type="file" class="form-full-width" (change)="onFileSelected($event)">
            <img *ngIf="imageView" [src]="imageView" accept="image/*">
            <br>
            <button mat-raised-button color="primary" type="submit">Save</button>
          </form>
          <br>
          <h4>Comment</h4>
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comment of comments;let i=index">
                <td>{{i+1}}</td>
                <td>{{comment.fullname}}</td>
                <td>{{comment.email}}</td>
                <td>{{comment.content}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>