<!-- banner -->
<div class="banner_top" id="home">
  <div class="wrapper_top_w3layouts">

    <div class="header_agileits">
      <div class="logo">
        <h1><a class="navbar-brand" routerLink="/"><span>Store</span> <i>Pizza</i></a></h1>
      </div>
      <div class="overlay overlay-contentpush">
        <button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>

        <nav>
          <ul>
            <li><a routerLink="/" class="active">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/404">Team</a></li>
            <li><a routerLink="/shop">Shop Now</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="mobile-nav-button">
        <button id="trigger-overlay" onclick="triggerMenu()" type="button"><i class="fa fa-bars"
            aria-hidden="true"></i></button>
      </div>
      <!-- cart details -->
      <div class="top_nav_right">
        <div class="shoecart shoecart2 cart cart box_1">
          <div class="last">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="display" value="1">
            <button class="top_shoe_cart" routerLink="/shop" type="submit" name="submit" value=""><i
                class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
          </div>
        </div>

      </div>
      <!-- //cart details -->
      <!-- search -->
      <div class="search_w3ls_agileinfo">
        <div class="cd-main-header">
          <ul class="cd-header-buttons">
            <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
          </ul>
        </div>
        <div id="cd-search" class="cd-search">
          <form action="#" method="post">
            <input name="Search" type="search" placeholder="Click enter after typing...">
          </form>
        </div>
      </div>
      <!-- //search -->

      <div class="clearfix"></div>
    </div>
    <!-- /slider -->
    <div class="slider">
      <div class="callbacks_container">
        <ul class="rslides callbacks callbacks1" id="slider4">
          <li>
            <div class="banner-top2">
              <div class="banner-info-wthree">
                <h3>Pizza</h3>
                <p>Want a piece happing.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="banner-top3">
              <div class="banner-info-wthree">
                <h3>Heathly</h3>
                <p>For better heath.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="banner-top">
              <div class="banner-info-wthree">
                <h3>Food Waste</h3>
                <p>Not in good taste</p>
              </div>
            </div>
          </li>
          <li>
            <div class="banner-top1">
              <div class="banner-info-wthree">
                <h3>Pizza</h3>
                <p>Want a piece happing.</p>

              </div>

            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-- //slider -->
    <ul class="top_icons">
      <li><a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
      <li><a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
      <li><a href="#"><span class="fa fa-linkedin" aria-hidden="true"></span></a></li>
      <li><a href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a></li>

    </ul>
  </div>
</div>
<!-- //banner -->
<!-- /girds_bottom-->
<div class="grids_bottom">
  <div class="style-grids">
    <div class="col-md-6 style-grid style-grid-1">
      <img src="assets/images/slide-5.jpg" alt="shoe">
    </div>
  </div>
  <div class="col-md-6 style-grid style-grid-2">
    <div class="style-image-1_info">
      <div class="style-grid-2-text_info">
        <h3>Pizza</h3>
        <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur.sed quia
          non numquam eius modi
          tempora incidunt ut labore et dolore .</p>
        <div class="shop-button">
          <a routerLink="/shop">Shop Now</a>
        </div>
      </div>
    </div>
    <div class="style-image-2">
      <img src="assets/images/b5.jpg" alt="shoe">
      <div class="style-grid-2-text">
        <!-- <h3>Air force</h3> -->
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- //grids_bottom-->
<!-- /girds_bottom2-->
<div class="grids_sec_2">
  <div class="style-grids">
    <div class="col-md-6 style-grid style-grid-1">
      <div class="grid_sec_info">
        <div class="style-grid-2-text_info">
          <h3>Pizza</h3>
          <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur.sed
            quia non numquam eius modi
            tempora incidunt ut labore .</p>
          <div class="shop-button">
            <a routerLink="/shop">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="style-image-2 custom-image">
        <img src="assets/images/b6.jpg" alt="shoe">
        <div class="style-grid-2-text">
          <!-- <h3>Air force</h3> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 style-grid style-grid-2">
      <div class="style-image-2">
        <img src="assets/images/b7.jpg" alt="shoe">
        <div class="style-grid-2-text">
          <!-- <h3>Air force</h3> -->
        </div>
      </div>
      <div class="grid_sec_info last">
        <div class="style-grid-2-text_info">
          <h3>Pizza</h3>
          <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur.sed
            quia non numquam eius modi
            tempora incidunt ut labore .</p>
          <div class="shop-button two">
            <a routerLink="/shop">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //grids_bottom2-->

<app-banner></app-banner>

<!-- /newsletter-->
<div class="newsletter_w3layouts_agile">
  <div class="col-sm-6 newsleft">
    <h3>Sign up for Newsletter !</h3>
  </div>
  <div class="col-sm-6 newsright">
    <form action="#" method="post">
      <input type="email" placeholder="Enter your email..." name="email" required="">
      <input type="submit" value="Submit">
    </form>
  </div>

  <div class="clearfix"></div>
</div>
<!-- //newsletter-->

<app-footer></app-footer>