<app-header></app-header>
<div class="ads-grid_shop">
  <div class="shop_inner_inf">
    <app-sidebar (onselectCategory)="filterCategory($event)" (onSelectDiscount)="filterDiscount($event)"
      (onSearch)="filterName($event)"></app-sidebar>
    <div class="left-ads-display col-md-9">
      <div class="wrapper_top_shop">
        <div class="clearfix"></div>
        <div class="product-sec1">
          <app-product-cart *ngFor="let item of products" [product]="item" col="4"></app-product-cart>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<app-banner></app-banner>
<app-footer></app-footer>