<!-- footer -->
<div class="footer_agileinfo_w3">
  <div class="footer_inner_info_w3ls_agileits">
    <div class="col-md-3 footer-left">
      <h2><a routerLink="/"><span>P</span>izza Store </a></h2>
      <p>Lorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.
      </p>
      <ul class="social-nav model-3d-0 footer-social social two">
        <li>
          <a href="javasript:void(0)" class="facebook">
            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
          </a>
        </li>
        <li>
          <a href="javasript:void(0)" class="twitter">
            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
          </a>
        </li>
        <li>
          <a href="javasript:void(0)" class="instagram">
            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
          </a>
        </li>
        <li>
          <a href="javasript:void(0)" class="pinterest">
            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 footer-right">
      <div class="sign-grds">
        <div class="col-md-4 sign-gd">
          <h4>Our <span>Information</span> </h4>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/404">Services</a></li>
            <li><a routerLink="/404">Short Codes</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>

        <div class="col-md-5 sign-gd-two">
          <h4>Store <span>Information</span></h4>
          <div class="address">
            <div class="address-grid">
              <div class="address-left">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <div class="address-right">
                <h6>Phone Number</h6>
                <p>+84 354 549 722</p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="address-grid">
              <div class="address-left">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="address-right">
                <h6>Email Address</h6>
                <p>Email :<a href="mailto:example@email.com"> caotin15ntt@gmail.com</a></p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="address-grid">
              <div class="address-left">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
              <div class="address-right">
                <h6>Location</h6>
                <p>08 Ton Dan, Da Nang, Viet Nam.</p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 sign-gd flickr-post">
          <h4>Flickr <span>Posts</span></h4>
          <ul>
            <li><a routerLink="/"><img src="assets/images/t1.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a routerLink="/"><img src="assets/images/t2.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a routerLink="/"><img src="assets/images/t3.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a routerLink="/"><img src="assets/images/t4.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a routerLink="/"><img src="assets/images/t1.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a routerLink="/"><img src="assets/images/t2.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a routerLink="/"><img src="assets/images/t3.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a routerLink="/"><img src="assets/images/t2.jpg" alt=" " class="img-responsive" /></a>
            </li>
            <li><a routerLink="/"><img src="assets/images/t4.jpg" alt=" " class="img-responsive" /></a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>

    <p class="copy-right-w3ls-agileits">Design by <a href="http://w3layouts.com/">W3layouts</a></p>
  </div>
</div>
<!-- //footer -->
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;">
  </span></a>
<!-- js -->