<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card">
          <h2>Register</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="feature">
                <div class="icon">
                  <i class="material-icons" style="color: #e91e63;">timeline</i>
                </div>
                <div class="desc">
                  <h4>Marking</h4>
                  <p>We've created the marketing campaign of the website. It was a very interesting collaboration.</p>
                </div>
              </div>
              <div class="feature">
                <div class="icon">
                  <i class="material-icons" style="color: #9c27b0;">code</i>
                </div>
                <div class="desc">
                  <h4>Fully Coded in HTML5</h4>
                  <p>We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.</p>
                </div>
              </div>
              <div class="feature">
                <div class="icon">
                  <i class="material-icons" style="color: #00bcd4;">group</i>
                </div>
                <div class="desc">
                  <h4>Built Audience</h4>
                  <p>There is also a Fully Customizable CMS Admin Dashboard for this product.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-part">
                <div class="socials">

                </div>
                <h6>or be classical</h6>
                <div class="row">
                  <i class="material-icons">face</i>
                  <md-input-container color="accent">
                    <input type="text" mdInput placeholder="Name">
                  </md-input-container>
                </div>
                <div class="row">
                  <i class="material-icons">email</i>
                  <md-input-container color="accent">
                    <input type="text" mdInput placeholder="Email">
                  </md-input-container>
                </div>
                <div class="row">
                  <i class="material-icons">lock_outline</i>
                  <md-input-container color="accent">
                    <input type="text" mdInput placeholder="Password">
                  </md-input-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
