<app-header></app-header>
<!-- top Products -->
<div class="ads-grid_shop">
  <div class="shop_inner_inf">
    <div class="col-md-4 single-right-left ">
      <div class="grid images_3_of_2">
        <div class="flexslider">
          <ul class="slides">
            <li attr.data-thumb="{{product?.image}}">
              <div class="thumb-image"> <img [src]="product?.image" data-imagezoom="true" class="img-responsive">
              </div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-8 single-right-left simpleCart_shelfItem">
      <h3>{{product?.name}}</h3>
      <p>
        <span class="item_price">${{(product?.prices[size]?.price*(100-product?.discount))/100}}</span>
        <del *ngIf="product?.discount>0">${{product?.price}}</del>
      </p>
      <app-star vote="3.5"></app-star>
      <!-- <div class="description">
        <h5>Discount :</h5>
        <div>
          <input type="text" value="Enter code">
          <input type="submit" value="Check">
        </div>
      </div> -->
      <div class="color-quality">
        <div class="color-quality-right">
          <h5>Option :</h5>
          <select id="country1" class="frm-field required sect">
            <option value="traditional">Traditional cake soles</option>
            <option value="thick">Thick cake base</option>
          </select>
        </div>
      </div>
      <div class="occasional">
        <h5>Size :</h5>
        <div class="colr" *ngFor="let item of product?.prices;let i=index;">
          <label class="radio"><input type="radio" name="radio" (change)="changeSize(i)"
              checked><i></i>{{item.size}}</label>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="occasion-cart">
        <div class="shoe single-item single_page_b">
          <div>
            <input type="submit" name="submit" value="Add to cart" class="button add" (click)="onAddToCart()">
          </div>
        </div>
      </div>
      <ul class="social-nav model-3d-0 footer-social social single_page">
        <li class="share">Share On : </li>
        <li>
          <a href="#" class="facebook">
            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
          </a>
        </li>
        <li>
          <a href="#" class="twitter">
            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
          </a>
        </li>
        <li>
          <a href="#" class="instagram">
            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
          </a>
        </li>
        <li>
          <a href="#" class="pinterest">
            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
          </a>
        </li>
      </ul>

    </div>
    <div class="clearfix"> </div>
    <!--/tabs-->
    <div class="responsive_tabs">
      <div id="horizontalTab">
        <ul class="resp-tabs-list">
          <li>Description</li>
          <li>Reviews</li>
          <!-- <li>Information</li> -->
        </ul>
        <div class="resp-tabs-container">
          <!--/tab_one-->
          <div class="tab1">

            <div class="single_page">
              <h6>{{product?.name}}</h6>
              <p [innerHTML]="product?.description"></p>
            </div>
          </div>
          <!--//tab_one-->
          <div class="tab2">

            <div class="single_page">
              <div class="bootstrap-tab-text-grids">
                <div class="bootstrap-tab-text-grid" *ngFor="let item of product?.comments">
                  <div class="bootstrap-tab-text-grid-left">
                    <img [src]="'/assets/images/avatar.png'" alt=" " class="img-responsive">
                  </div>
                  <div class="bootstrap-tab-text-grid-right">
                    <ul>
                      <li><a>{{item?.fullname}}</a></li>
                      <!-- <li><a><i class="fa fa-reply-all" aria-hidden="true"></i>
                          Reply</a></li> -->
                    </ul>
                    <p>{{item?.content}}</p>
                  </div>
                  <div class="clearfix"> </div>
                </div>

                <div class="add-review">
                  <h4>add a review</h4>
                  <form [formGroup]="myForm" (ngSubmit)="myForm.valid && onComment()">
                    <input type="text" formControlName="fullname" placeholder="Fullname" name="name" required>
                    <input type="email" formControlName="email" placeholder="Email" name="email" required>
                    <textarea name="content" formControlName="content" placeholder="Message" required></textarea>
                    <input type="submit" value="SEND">
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--//tabs-->
    <app-featured-product></app-featured-product>
  </div>
</div>
<!-- //top products -->
<app-banner></app-banner>
<app-footer></app-footer>