<div class="nav-bar">
  <div class="left-part">
    <button md-mini-fab id="nav-left-button"><i class="material-icons" style="font-size:18px;">more_vert</i></button>
    <h4>{{ title }}</h4>
  </div>
  <div class="right-part">
    <div class="right-part" id="nav-right">
      <md-input-container color="#ff0000">
        <input mdInput type="search" placeholder="Search">
      </md-input-container>
      <button md-mini-fab class="search-btn"><i class="material-icons" style="font-size:18px;">search</i></button>
      <button md-icon-button><i class="material-icons icon-btn">dashboard</i></button>
      <app-msgiconbtn icon="notifications" number="5" [mdMenuTriggerFor]="menu"></app-msgiconbtn>
      <button md-icon-button><i class="material-icons icon-btn">person</i></button>
      <md-menu #menu="mdMenu">
        <button md-menu-item>Mike John responded to your email</button>
        <button md-menu-item>You have 5 new tasks</button>
        <button md-menu-item>You're now friend with Andrew</button>
        <button md-menu-item>Another Notification</button>
        <button md-menu-item>Another One</button>
      </md-menu>
    </div>
    <div id="menu">
      <button md-icon-button (click)="menuClick()"><i class="material-icons">menu</i></button>
    </div>
  </div>
</div>
