.sidebar{
  /*background-color: rgba(229, 57, 53, .95);*/
  height: 100%;
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 15px 15px;
}

.logo-part{
  display: flex;
  align-items: center;
  padding: 7px 3px 10px 3px;
  border-bottom: 1px solid rgba(255,255,255, .4);
}

.logo-part img{
  width: 42px;
  height: 42px;
}

.logo-part p{
  color: #fff;
  font-size: 18px;
  margin: 0 0 0 10px;
}

.links{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.route{
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 100;
  margin-top: 10px;
  transition: all 400ms;
}

.route a{
  padding: 13px;
  display: flex;
  width: 100%;
  background-color: transparent;
  align-items: center;
}

.route > a > i, p{
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
}

.hover:hover{
  background-color: rgba(255,255,255,.1);
  transition: all 400ms;
  border-radius: 3px;
}

.route i{
  margin-right: 15px;
}

.route-active{
  background-color: #fff;
  transition: all 400ms;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
  border-radius: 3px;
}

.route-active p, i{
  color: rgba(0,0,0,.6);
  font-weight: 300;
}


