<div class="sidebar">
  <div class="logo-part">
    <img src="../../assets/img/angular2-logo.png" alt="logo"/>
    <p>Material Dashboard</p>
  </div>
  <div class="divider"></div>
  <div style="width: 100%; height: 100%; overflow-y: auto">
  <ul class="nav links">
    <li routerLinkActive #dashboard="routerLinkActive" [ngClass]="dashboard.isActive ? 'route-active route' : 'route hover'" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/dashboard"><i class="material-icons" [ngStyle]="{color: dashboard.isActive ? 'rgba(0,0,0,.6)' : 'rgba(255, 255, 255, 0.8)'}">dashboard</i><p>Dashboard</p></a>
    </li>
    <li routerLinkActive #profile="routerLinkActive" [ngClass]="profile.isActive ? 'route-active route' : 'route hover'">
      <a routerLink="profile"><i class="material-icons" [ngStyle]="{color: profile.isActive ? 'rgba(0,0,0,.6)' : 'rgba(255, 255, 255, 0.8)'}">person</i><p>User Profile</p></a>
    </li>
    <li>
      <div class="accordion hover"><i class="material-icons" style="color: rgba(255, 255, 255, 0.8)">apps</i>Components</div>
      <div class="accordion-panel">
        <a routerLink="/dashboard"><p class="span">PT</p><p>Price Table</p></a>
        <a routerLink="/dashboard"><p class="span">EF</p><p>Extended Form</p></a>
        <a routerLink="/dashboard"><p class="span">P</p><p>Panel</p></a>
      </div>
    </li>
    <li routerLinkActive #table="routerLinkActive" [ngClass]="table.isActive ? 'route-active route' : 'route hover'">
      <a routerLink="table"><i class="material-icons" [ngStyle]="{color: table.isActive ? 'rgba(0,0,0,.6)' : 'rgba(255, 255, 255, 0.8)'}">content_paste</i><p>Table List</p></a>
    </li>
    <li routerLinkActive #notification="routerLinkActive" [ngClass]="notification.isActive ? 'route-active route' : 'route hover'">
      <a routerLink="notification"><i class="material-icons" [ngStyle]="{color: notification.isActive ? 'rgba(0,0,0,.6)' : 'rgba(255, 255, 255, 0.8)'}">notifications</i><p>Notification</p></a>
    </li>
    <li routerLinkActive #alert="routerLinkActive" [ngClass]="alert.isActive ? 'route-active route' : 'route hover'">
      <a routerLink="alert"><i class="material-icons" [ngStyle]="{color: alert.isActive ? 'rgba(0,0,0,.6)' : 'rgba(255, 255, 255, 0.8)'}">warning</i><p>Sweet Alert</p></a>
    </li>
    <li routerLinkActive #settings="routerLinkActive" [ngClass]="settings.isActive ? 'route-active route' : 'route hover'">
      <a routerLink="settings"><i class="material-icons" [ngStyle]="{color: settings.isActive ? 'rgba(0,0,0,.6)' : 'rgba(255, 255, 255, 0.8)'}">settings</i><p>Settings</p></a>
    </li>
  </ul>
  </div>
</div>
