<div class="sidebar">
  <div class="logo-part">
    <img src="../../assets/img/angular2-logo.png" alt="logo"/>
    <p>Material Dashboard</p>
  </div>
  <ul class="nav links">
    <li routerLinkActive="route-active" class="route">
      <a routerLink="/home"><i class="material-icons">dashboard</i><p>Dashboard</p></a>
    </li>
    <li routerLinkActive="route-active" class="route">
      <a routerLink="/profile"><i class="material-icons">person</i><p>User Profile</p></a>
    </li>
    <li routerLinkActive="route-active" class="route">
      <a routerLink="/table"><i class="material-icons">content_paste</i><p>Table List</p></a>
    </li>
    <li routerLinkActive="route-active" class="route">
      <a routerLink="/notification"><i class="material-icons">notifications</i><p>Notification</p></a>
    </li>
  </ul>
</div>
