.sidebar{
  /*background-color: rgba(229, 57, 53, .95);*/
  height: 100%;
  position: relative;
  z-index: 2;
  width: 100%;
}

.logo-part{
  display: flex;
  align-items: center;
  /*border-bottom: 1px solid rgba(255,255,255, .4);*/
  position: relative;
  top: 0;
  padding: 15px;
}

.logo-part img{
  width: 42px;
  height: 42px;
}

.logo-part p{
  color: #fff;
  font-size: 18px;
  margin: 0 0 0 10px;
}

.divider{
  height: 1px;
  width: 88%;
  background-color: rgba(255,255,255, .4);
  margin: 0 auto;
}

.links{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  overflow-y: auto;
  padding: 5px 15px;
}

.route{
  display: flex;
  align-items: center;
  font-weight: 100;
  margin-top: 10px;
  transition: all 400ms;
}

.route a, .accordion, .accordion-panel a{
  text-decoration: none;
  padding: 13px;
  display: flex;
  width: 100%;
  background-color: transparent;
  align-items: center;
}

.accordion{
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.route > a > i, p{
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
}

.hover:hover, .active{
  background-color: rgba(255,255,255,.1);
  transition: all 400ms;
  border-radius: 3px;
}

.route i, .accordion i, .accordion-panel span{
  margin-right: 15px;
}

.route-active{
  background-color: #fff;
  transition: all 400ms;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
  border-radius: 3px;
}

.route-active p, i{
  color: rgba(0,0,0,.6);
  font-weight: 300;
}

.accordion-panel{
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 300ms ease-out;
  -moz-transition: max-height 300ms ease-out;
  -ms-transition: max-height 300ms ease-out;
  -o-transition: max-height 300ms ease-out;
  transition: max-height 300ms ease-out;
}

.accordion:after{
  content: '\002B';
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  position: relative;
  left: 35%;
}

.accordion.active:after{
  content: "\2796";
  color: rgba(255, 255, 255, 0.8);
}
