<div class="container">
  <app-navbar title="List Order"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
        </div>
        <div class="card-content">
          <a mat-raised-button color="primary" (click)="onReload()">Reload</a>
          <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Phone Number</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listOrder;let i = index">
                  <td>{{item.fullname}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.phoneNumber}}</td>
                  <td>
                    <!-- <button mat-button>View</button> -->
                    <ul>
                      <li *ngFor="let product of item.products">name: {{product.name}} |
                        ${{product.price.price*(100-product.discount)/100}} | {{product.quality}}</li>
                      <li>Total: {{onGetTotal(item.products)}}</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>