<div class="container">
  <app-navbar title="Notification"></app-navbar>
  <div class="row page-title">
    <h3 class="text-center">Notifications</h3>
  </div>
  <div class="row">
    <p class="text-center">Handcrafted by our friend Robert McIntosh. Please checkout the full documentation.</p>
  </div>
  <div class="row page-title">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <h4>Notifications Style</h4>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <h4>Notification States</h4>
      </div>
    </div>
  </div>

</div>
