@import url('../css/bootstrap.css');
@import url('../css/shop.css');
@import url('../css/style7.css');
@import url('../css/style.css');
@import url('../css/font-awesome.css');
/* #Cart Dropdown Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Dropdown Default Styles */

.dropdowns {
    position: relative;
}

.dropdowns:hover .minicart-content {
    display: block;
}

.minicart-content {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-top-color: transparent;
    color: #333;
    display: none;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 44px;
    z-index: 2;
}

.minicart-content ul li {
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

/* Button Styles */

.cart-dropdown-btn a {
    background: #338fe0;
    color: #fff;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 10px 14px;
}

.cart-dropdown-btn>a:before {
    content: "\f07a";
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 10px;
}

.cart-dropdown-btn>a:after {
    content: "\f078";
    font-family: FontAwesome;
    font-size: 10px;
    padding-left: 10px;
    position: relative;
    top: -2px;
}

/* Cart Dropdown Image */

.cart-image-wrapper {
    display: table;
    float: left;
    margin-right: 20px;
}

.cart-image {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}

/* Cart Dropdown Name and Price */

.cart-details {
    float: left;
    margin-right: 10px;
    width: 146px;
}

.cart-name {
    margin-bottom: 10px;
}

.cart-price {
    font-weight: 600;
}

/* Cart Dropdown Quantity */

.cart-qty {
    float: left;
    text-align: center;
    width: 30px;
}

.cart-qty-name {
    font-size: 10px;
}

.cart-qty-value {
    font-weight: 600;
}

/* Cart Checkout Buttons */

.cart-btn {
    display: block;
    float: left;
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
    transition: 0.3s;
    width: 122px;
}

.view-cart {
    border: 1px solid #bbb;
    color: #444;
    margin-right: 12px;
}

.view-cart:hover {
    background: #ddd;
    color: #444;
}

.checkout {
    background: #c83b3b;
    border: 1px solid transparent;
    color: #fff;
}

.checkout:hover {
    background: #e9944f;
    color: #fff;
}