<div class="container">
  <app-navbar title="Settings"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="../../../assets/img/sidebar-1.jpg" alt="sidebar-bg" class="sidebar-bg"/>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="../../../assets/img/sidebar-2.jpg" alt="sidebar-bg" class="sidebar-bg"/>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="../../../assets/img/sidebar-3.jpg" alt="sidebar-bg" class="sidebar-bg"/>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <img src="../../../assets/img/sidebar-4.jpg" alt="sidebar-bg" class="sidebar-bg"/>
      </div>
    </div>
  </div>
</div>
