<div class="container">
  <app-navbar title="Settings"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-10 col-md-offset-1">
      <h4 class="text-center text-uppercase">Sidebar Filters</h4>
      <div class="col-md-12 dot-row">
        <div class="dot purple" (click)="filterChooseClick(0)"></div>
        <div class="dot blue" (click)="filterChooseClick(1)"></div>
        <div class="dot green" (click)="filterChooseClick(2)"></div>
        <div class="dot orange" (click)="filterChooseClick(3)"></div>
        <div class="dot red" (click)="filterChooseClick(4)"></div>
        <div class="dot white" (click)="filterChooseClick(5)"></div>
        <div class="dot rose" (click)="filterChooseClick(6)"></div>
      </div>
    </div>

    <div class="col-md-10 col-md-offset-1">
      <h4 class="text-center text-uppercase">Sidebar Background</h4>
      <div class="col-md-12 dot-row">
        <div class="dot red" (click)="bgColorChooseClick('#D80B0B')"></div>
        <div class="dot dodgerblue" (click)="bgColorChooseClick('dodgerblue')"></div>
        <div class="dot black" (click)="bgColorChooseClick('#000')"></div>
      </div>
    </div>

    <div class="col-md-10 col-md-offset-1">
      <h4 class="text-uppercase text-center">SideBar Background Image</h4>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <button class="sidebar-btn" (click)="bgChooseClick(1)"><img src="../../../assets/img/sidebar-1.jpg" alt="sidebar-bg" class="sidebar-bg"/></button>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <button class="sidebar-btn" (click)="bgChooseClick(2)"><img src="../../../assets/img/sidebar-2.jpg" alt="sidebar-bg" class="sidebar-bg"/></button>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <button class="sidebar-btn" (click)="bgChooseClick(3)"><img src="../../../assets/img/sidebar-3.jpg" alt="sidebar-bg" class="sidebar-bg"/></button>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <button class="sidebar-btn" (click)="bgChooseClick(4)"><img src="../../../assets/img/sidebar-4.jpg" alt="sidebar-bg" class="sidebar-bg"/></button>
      </div>
    </div>
  </div>
</div>
