<div class="container">
  <app-navbar title="Sweet Alert"></app-navbar>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <h5>Basic example</h5>
        <button md-raised-button class="btn btn-rose">TRY ME!</button>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <h5>A title with a text under</h5>
        <button md-raised-button class="btn btn-rose">TRY ME!</button>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <h5>A success message</h5>
        <button md-raised-button class="btn btn-rose">TRY ME!</button>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <h5>Custom HTML description</h5>
        <button md-raised-button class="btn btn-rose">TRY ME!</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <h5>A warning message, with a function attached to the "Confirm" Button...</h5>
        <button md-raised-button class="btn btn-rose">TRY ME!</button>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <h5>...and by passing a parameter, you can execute something else for "Cancel"</h5>
        <button md-raised-button class="btn btn-rose">TRY ME!</button>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <h5>A message with auto close timer set to 2 seconds</h5>
        <button md-raised-button class="btn btn-rose">TRY ME!</button>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card">
        <h5>Modal window with input field</h5>
        <button md-raised-button class="btn btn-rose">TRY ME!</button>
      </div>
    </div>
  </div>
</div>
