/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

h3, .h3{
  font-size: 1.825em;
}

p {
  margin: 0 0 10px;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
