<!-- /Properties -->
<div class="mid_slider_w3lsagile">
  <div class="col-md-3 mid_slider_text">
    <h5>Some More Pizza</h5>
  </div>
  <div class="col-md-9 mid_slider_info">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g1.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g2.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g3.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g4.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g5.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g6.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g2.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g1.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g1.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g2.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g3.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g4.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g1.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g2.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g3.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 slidering">
              <div class="thumbnail"><img src="assets/images/g4.jpg" alt="Image" style="max-width:100%;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!-- The Modal -->

    </div>
  </div>

  <div class="clearfix"> </div>
</div>
<!--//banner -->